<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Benutzerverwaltung </title>
</head>
<body>
  <h1>Login Page</h1>
  <div th:if="${param.error}">
    <p>Invalid username or password.</p>
  </div>
  <div th:if="${param.logout}" style="align-content: flex-start">
    <p>You have been logged out.</p>
  </div>
  <div>
    <form th:action="@{/login}" method="post" style="border: 3px solid #f1f1f1; width: 50%">
      <div style="padding: 25px; background-color: lightblue">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
      </div>
      </p>
    </form>
  </div>
</body>
</html>