<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Benutzerverwaltung</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div id="includedHeader">
  <div class="row">
    <div class="col-sm-10 jumbotron text-left pr_bg_green" style="margin-bottom:0">
      <h1><b><i>Benutzerverwaltung</i></b></h1>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/index}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/edit-profile}">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/get-users}">Users</a>
        </li>
        <li class="nav-item">
          <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>
  <h1>Login Page</h1>
  <div th:if="${param.error}">
    <p>Invalid username or password.</p>
  </div>
  <div th:if="${param.logout}" style="align-content: flex-start">
    <p>You have been logged out.</p>
  </div>
  <div>
    <form th:action="@{/login}" method="post" style="border: 3px solid #f1f1f1; width: 50%">
      <div style="padding: 25px; background-color: lightblue">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
      </div>
      </p>
    </form>
  </div>
</body>
</html>